/*Navbar styles*/
.navbar.navbar-default {
  background-color: transparent;
  box-shadow: 0 0 0 0 ;
}

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

#navbar-primary .navbar-nav > li > a {
  font-size: 12pt;
  font-weight: 500;
}

/*End of navbar styles*/

/*Carousel styles */
#carousel {
  width: 100vw;
}
/*
.card-carousel{
  box-shadow: 0 0 0 0;
}
*/
.section {
  padding:0;

}
/*End carousel styles*/

.main-text {
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  vertical-align: middle;
  text-align: center;
  position: absolute;
}


/*header styles*/

#header {
  margin-top: -25px;
}

.header-bg {
  width: 100%;
  height: 150px;
  background-image: url("../img/photo-1436918671239-a2b72ace4880.png");
  background-size: cover;
  color: #ffffff;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.header-title {
  font-weight: 500;
}

/*End of header styles */

/*Gallery styles*/

/*
#gallery .col-lg-6,
#gallery .col-lg-12{
  padding: 0;
}

*/


/*End of gallery styles*/
/*infos styles*/
table tr td:first-child{
  font-size: 12pt;
  font-weight: 500;
}
table tr td:nth-child(2){
  font-size: 12pt;
  font-weight: 300;
}
.infos{
  margin-top: 10px;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.gallery{
  margin-top: 10px;
  box-shadow: -10px 10px  5px 2px #888888;
  height: 355px;
}

/*end of info styles*/
